<div class="data-box">
  <h3 class="text-center mb-3">Data for <%= country.name %></h3>
  <%= render 'shared/left_right_list', light: true, title: "Last Update", value: recent.updated.strftime("%m/%d/%Y at %I:%M%p") %>
  <%= render 'shared/left_right_list', light: false, title: "Population", value: number_to_human(country.population, separator: ",") %>
  <%= render 'shared/left_right_list', light: true, title: "Total Cases", value: number_with_delimiter(recent.total_cases) %>
  <%= render 'shared/left_right_list', light: false, title: "Total Deaths", value: number_with_delimiter(recent.total_deaths, separator: ",", percision: 6) %>
  <%= render 'shared/left_right_list', light: true, title: "Mortality Rate", value: "#{recent.mortality_rate}%" %>
  <%= render 'shared/left_right_list', light: false, title: "Total Infection Rate", value: "#{country.percent_infected}%" %>
  <%= render 'shared/left_right_list', light: true, title: "7 Day Infection Rate", value: "#{growth.round(2)}%" %>
</div>
